<widget id="com.ivanorezac.hello" version="0.0.2">
    <name>HelloWorld</name>
    <description>
        My testing application
    </description>
    <author email="ivanorezac2@gmail.com" href="http://ivanorezac.com">
        Ivanorezac
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <icon src="android/res/drawable-ldpi/Icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="android/res/drawable-mdpi/Icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="android/res/drawable-hdpi/Icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="android/res/drawable-xhdpi/Icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="android/res/drawable-xhdpi/Icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="android/res/drawable-xhdpi/Icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
</widget>