<widget id="com.ivanorezac.world" version="0.0.3">
    <name>Ivanorezac's world</name>
    <description>
        My testing application
    </description>
    <author email="ivanorezac2@gmail.com" href="http://ivanorezac.com">
        Ivanorezac
    </author>
    <content src="index.html" />
    <content src="disconnected.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <icon src="android/res/drawable-xhdpi/Icon.png" />
    <preference name="permissions" value="none"/>
</widget>